$title-color: black;
$text-color: white;

$color-hover: rgb(4, 116, 110);
$test-color: rgb(0, 209, 199);

$primary-background-color: #0d111b;
$secondary-background-color: rgba(33, 42, 57, 0.85);

@font-face {
  font-family: "Fjalla One";
  src: url("/fonts/FjallaOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-bold";
  src: url("/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
