.footer-container {
  height: 300px;
  border-top: solid 1px $color-hover;
  padding-top: 20px;
  background-color: $primary-background-color;
  text-align: center;
  display: flex;

  p {
    font-size: 1.1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background: linear-gradient(to left, #9f9f9f 0%, #fff 10%, #868686 20%);
    background-position: 100% 0;
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 2s linear infinite, colorChange 2s infinite alternate;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }
}

@keyframes colorChange {
  0% {
    color: $text-color;
  }
  100% {
    color: rgb(0, 150, 142);
  }
}

@keyframes shine {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.container-contact {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  margin-top: 45px;
  right: 10%;
}
.follow-text {
  color: $text-color;
  font-size: 1.2rem;
}

// Social effect

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 80px;
  height: 80px;
  outline: none;
  border: none;
  background: white;
  border-radius: 80px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
}

.card2 {
  width: 80px;
  height: 80px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 80px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.facebook {
  margin-top: 1.5em;
  margin-left: -0.9em;
  fill: #03a9f4;
}

.card3 {
  width: 80px;
  height: 80px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 80px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.whatsapp {
  margin-top: -0.6em;
  margin-left: 1.2em;
  fill: #00ff00;
}

.card4 {
  width: 80px;
  height: 80px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 80px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.gmail {
  margin-top: -0.9em;
  margin-left: -1.2em;
  fill: #f14336;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #1877f2;
}

.card2:hover .facebook {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #00ff00;
}

.card3:hover .whatsapp {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #ff0004;
}

.card4:hover .gmail {
  fill: white;
}

// Media querry < 1250
@media only screen and (max-width: 1250px) {
  .footer-container {
    justify-content: center;
  }
  .container-contact {
    position: initial;
  }
}
