.region-gitepage {
  position: absolute;
  font-family: "Roboto";
  font-size: 2rem;
  top: 30px;
  color: $text-color;
  overflow: hidden;
  transform: translateY(-20px);
  opacity: 0;
  animation: fadeInDown 1s ease-out forwards;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.gitepage-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background-color: $primary-background-color;
  position: relative;

  .img-gitepage {
    border-radius: 10px;
    width: 58%;
    height: auto;
    user-select: none;
    transform: scale(1.1);
    opacity: 0;
    animation: fadeInScale 1.5s ease-out forwards;

    @keyframes fadeInScale {
      to {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}

.gitepage-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  h1 {
    color: $text-color;
    font-family: "Roboto";
    margin-bottom: 10px;
  }
}
.gitepage-text {
  color: $text-color;
  font-family: "Roboto";
}

.gitepage-text-container {
  border: 1px solid $text-color;
  border-radius: 1.5em;
  margin-top: 35px;
  text-align: center;
  padding: 20px;
  opacity: 0;
  transform: scale(0.95);
  animation: fadeInScale 1.5s ease-out forwards;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  60% {
    opacity: 0.7;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.gitepage-text-icon-container {
  margin-top: 20px;
}

.price-rating-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  .price-gitepage-container,
  .rating-gitepage-container {
    color: $text-color;
  }
}

.notation-gitepage-container {
  position: absolute;
  bottom: 10px;
  overflow-y: hidden;
}

.text-color-gitepage {
  color: $test-color;
}

// carte proprietaire

.card-proprio {
  min-width: 300px;
  border-radius: 1rem;
  background-color: $secondary-background-color;
  padding: 1rem;
  opacity: 0;
  transform: translateX(30px);
  animation: fadeInSlide 1s ease-out forwards;
}

@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1; /* Devient complètement visible */
    transform: translateX(0); /* Se déplace à sa position d'origine */
  }
}

.infos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  grid-gap: 1rem;
  gap: 1rem;
}

.image {
  height: 7rem;
  width: 7rem;
  border-radius: 0.5rem;
  background-color: $color-hover;
  background: linear-gradient(to bottom right, $color-hover, $test-color);
}

.info {
  height: 7rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-family: "Roboto";
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

.function {
  font-family: "Roboto";
  font-size: 0.85rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto";
  width: 100%;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 1);
  font-size: 0.9rem;
  line-height: 1rem;
  color: rgba(0, 0, 0, 1);
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4px;
  font-family: "Roboto";
}

.state-value {
  font-weight: 700;
  color: $color-hover;
}

.request {
  font-family: "Roboto";
  cursor: pointer;
  margin-top: 1.5rem;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: all 0.3s ease;
}

.request:hover {
  background-color: $color-hover;
  color: #fff;
}

// Media querry < 1360
@media only screen and (max-width: 1360px) {
  .region-gitepage {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  }
  .gitepage-container {
    flex-direction: column;
    justify-content: flex-start;
    // height: auto;
    .img-gitepage {
      border-radius: 0;
      width: 100%;
      height: auto;
    }
  }
  .gitepage-info-container {
    flex-direction: row;
    margin: 60px;
    gap: 50px;
    width: 100%;
    padding: 0px 15px;
  }
  .notation-gitepage-container {
    position: initial;
  }
}

// Media querry < 680
@media only screen and (max-width: 680px) {
  .region-gitepage {
    top: 2px;
    padding: 0 20px;
  }
  .card-proprio {
    min-width: 250px;
  }
  .gitepage-container {
    justify-content: initial;
    height: auto;
    overflow-x: hidden;
    .img-gitepage {
      width: 150%;
      height: auto;
    }
  }
  .gitepage-info-container {
    flex-direction: column;
    margin: 30px;
    gap: 0;
  }
}
