@import "abstracts/variables";
@import "pages/header.scss";
@import "pages/navbar.scss";
@import "pages/section.scss";
@import "pages/footer.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-background-color;
}
