@import "abstracts/variables";
@import "pages/header.scss";
@import "pages/navbar.scss";
@import "pages/section.scss";
@import "pages/footer.scss";
@import "pages/loading.scss";
@import "pages/optionbutton.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // user-select: none;
}

body {
  background-color: $primary-background-color;
}
header {
  height: 75vh;
}
