@import "abstracts/variables";
@import "pages/header.scss";
@import "pages/navbar.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  background-color: $primary-background-color;
}
